---
import Layout from "@layouts/Layout.astro";
import PageHeader from "@components/profile/PageHeader.astro";
import Input from "@components/ui/Input.astro";
import { supabase } from "@lib/supabase";

const countries = [
      {
        "name": "Algeria",
        "dial_code": "+213",
        "flag": "🇩🇿",
        "short_name": "DZ"
      },
      {
        "name": "Angola",
        "dial_code": "+244",
        "flag": "🇦🇴",
        "short_name": "AO"
      },
      {
        "name": "Benin",
        "dial_code": "+229",
        "flag": "🇧🇯",
        "short_name": "BJ"
      },
      {
        "name": "Botswana",
        "dial_code": "+267",
        "flag": "🇧🇼",
        "short_name": "BW"
      },
      {
        "name": "Burkina Faso",
        "dial_code": "+226",
        "flag": "🇧🇫",
        "short_name": "BF"
      },
      {
        "name": "Burundi",
        "dial_code": "+257",
        "flag": "🇧🇮",
        "short_name": "BI"
      },
      {
        "name": "Cape Verde",
        "dial_code": "+238",
        "flag": "🇨🇻",
        "short_name": "CV"
      },
      {
        "name": "Cameroon",
        "dial_code": "+237",
        "flag": "🇨🇲",
        "short_name": "CM"
      },
      {
        "name": "Central African Republic",
        "dial_code": "+236",
        "flag": "🇨🇫",
        "short_name": "CF"
      },
      {
        "name": "Chad",
        "dial_code": "+235",
        "flag": "🇹🇩",
        "short_name": "TD"
      },
      {
        "name": "Comoros",
        "dial_code": "+269",
        "flag": "🇰🇲",
        "short_name": "KM"
      },
      {
        "name": "Democratic Republic of the Congo",
        "dial_code": "+243",
        "flag": "🇨🇩",
        "short_name": "CD"
      },
      {
        "name": "Djibouti",
        "dial_code": "+253",
        "flag": "🇩🇯",
        "short_name": "DJ"
      },
      {
        "name": "Egypt",
        "dial_code": "+20",
        "flag": "🇪🇬",
        "short_name": "EG"
      },
      {
        "name": "Equatorial Guinea",
        "dial_code": "+240",
        "flag": "🇬🇶",
        "short_name": "GQ"
      },
      {
        "name": "Eritrea",
        "dial_code": "+291",
        "flag": "🇪🇷",
        "short_name": "ER"
      },
      {
        "name": "Eswatini",
        "dial_code": "+268",
        "flag": "🇸🇿",
        "short_name": "SZ"
      },
      {
        "name": "Ethiopia",
        "dial_code": "+251",
        "flag": "🇪🇹",
        "short_name": "ET"
      },
      {
        "name": "Gabon",
        "dial_code": "+241",
        "flag": "🇬🇦",
        "short_name": "GA"
      },
      {
        "name": "Gambia",
        "dial_code": "+220",
        "flag": "🇬🇲",
        "short_name": "GM"
      },
      {
        "name": "Ghana",
        "dial_code": "+233",
        "flag": "🇬🇭",
        "short_name": "GH"
      },
      {
        "name": "Guinea",
        "dial_code": "+224",
        "flag": "🇬🇳",
        "short_name": "GN"
      },
      {
        "name": "Guinea-Bissau",
        "dial_code": "+245",
        "flag": "🇬🇼",
        "short_name": "GW"
      },
      {
        "name": "Ivory Coast",
        "dial_code": "+225",
        "flag": "🇨🇮",
        "short_name": "CI"
      },
      {
        "name": "Kenya",
        "dial_code": "+254",
        "flag": "🇰🇪",
        "short_name": "KE"
      },
      {
        "name": "Lesotho",
        "dial_code": "+266",
        "flag": "🇱🇸",
        "short_name": "LS"
      },
      {
        "name": "Liberia",
        "dial_code": "+231",
        "flag": "🇱🇷",
        "short_name": "LR"
      },
      {
        "name": "Libya",
        "dial_code": "+218",
        "flag": "🇱🇾",
        "short_name": "LY"
      },
      {
        "name": "Madagascar",
        "dial_code": "+261",
        "flag": "🇲🇬",
        "short_name": "MG"
      },
      {
        "name": "Malawi",
        "dial_code": "+265",
        "flag": "🇲🇼",
        "short_name": "MW"
      },
      {
        "name": "Mali",
        "dial_code": "+223",
        "flag": "🇲🇱",
        "short_name": "ML"
      },
      {
        "name": "Mauritania",
        "dial_code": "+222",
        "flag": "🇲🇷",
        "short_name": "MR"
      },
      {
        "name": "Mauritius",
        "dial_code": "+230",
        "flag": "🇲🇺",
        "short_name": "MU"
      },
      {
        "name": "Morocco",
        "dial_code": "+212",
        "flag": "🇲🇦",
        "short_name": "MA"
      },
      {
        "name": "Mozambique",
        "dial_code": "+258",
        "flag": "🇲🇿",
        "short_name": "MZ"
      },
      {
        "name": "Namibia",
        "dial_code": "+264",
        "flag": "🇳🇦",
        "short_name": "NA"
      },
      {
        "name": "Niger",
        "dial_code": "+227",
        "flag": "🇳🇪",
        "short_name": "NE"
      },
      {
        "name": "Nigeria",
        "dial_code": "+234",
        "flag": "🇳🇬",
        "short_name": "NG"
      },
      {
        "name": "Rwanda",
        "dial_code": "+250",
        "flag": "🇷🇼",
        "short_name": "RW"
      },
      {
        "name": "Sao Tome and Principe",
        "dial_code": "+239",
        "flag": "🇸🇹",
        "short_name": "ST"
      },
      {
        "name": "Senegal",
        "dial_code": "+221",
        "flag": "🇸🇳",
        "short_name": "SN"
      },
      {
        "name": "Seychelles",
        "dial_code": "+248",
        "flag": "🇸🇨",
        "short_name": "SC"
      },
      {
        "name": "Sierra Leone",
        "dial_code": "+232",
        "flag": "🇸🇱",
        "short_name": "SL"
      },
      {
        "name": "Somalia",
        "dial_code": "+252",
        "flag": "🇸🇴",
        "short_name": "SO"
      },
      {
        "name": "South Africa",
        "dial_code": "+27",
        "flag": "🇿🇦",
        "short_name": "ZA"
      },
      {
        "name": "South Sudan",
        "dial_code": "+211",
        "flag": "🇸🇸",
        "short_name": "SS"
      },
      {
        "name": "Sudan",
        "dial_code": "+249",
        "flag": "🇸🇩",
        "short_name": "SD"
      },
      {
        "name": "Tanzania",
        "dial_code": "+255",
        "flag": "🇹🇿",
        "short_name": "TZ"
      },
      {
        "name": "Togo",
        "dial_code": "+228",
        "flag": "🇹🇬",
        "short_name": "TG"
      },
      {
        "name": "Tunisia",
        "dial_code": "+216",
        "flag": "🇹🇳",
        "short_name": "TN"
      },
      {
        "name": "Uganda",
        "dial_code": "+256",
        "flag": "🇺🇬",
        "short_name": "UG"
      },
      {
        "name": "Zambia",
        "dial_code": "+260",
        "flag": "🇿🇲",
        "short_name": "ZM"
      },
      {
        "name": "Zimbabwe",
        "dial_code": "+263",
        "flag": "🇿🇼",
        "short_name": "ZW"
      }
    ]
const southAfrica = countries.find(country => country.name === "South Africa");

const { cookies } = Astro;
const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken?.value!,
  access_token: accessToken?.value!,
});

if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });
}
const user = data?.user
---
<Layout title="JobBoard | Contact info">
    <div class="max-w-[40rem] px-4 py-10 lg:pt-20 sm:px-6 lg:px-8 lg:py-14 mx-auto mt-10 dark:text-white">
        <PageHeader title="Contact information" subtitle="" href="/Profile" />

        <div class="mt-10">
            <form >

                <Input type="text" id="name" name="name" value={`${user?.user_metadata?.full_name ? user?.user_metadata?.full_name : user?.user_metadata?.displayName }`} />
                <br>
                <Input type="text" id="name" name="name" />
                <br>
                <Input type="text" id="name" name="name" />
                <br>          
                <div class="relative">
                    <input type="number" id="hs-inline-leading-pricing-select-label" name="inline-add-on" class="py-3 px-4 ps-4 pe-20 block w-full border-gray-200 shadow-sm rounded-lg text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-sky-600" placeholder="">
                    <div class="absolute inset-y-0 end-0 flex items-center text-gray-500 pe-px border-l dark:border-gray-700">
                    <label for="hs-inline-leading-select-currency" class="sr-only">Currency</label>
                    <select id="hs-inline-leading-select-currency" name="hs-inline-leading-select-currency" class="block w-full border-transparent rounded-lg focus:ring-0 border-0 text-lg cursor-pointer dark:bg-gray-800">
                        {
                            [
                                <option  value="South Africa">
                                    {`${southAfrica?.flag} ${southAfrica?.dial_code}`}
                                </option>,
                                ...countries
                                    .filter(country => country.name !== "South Africa")
                                    .map((country) => (
                                        <option  value={country.name}>
                                            {`${country.flag} ${country.dial_code}`}
                                        </option>
                                    ))
                            ]
                        }
                    </select>
                    </div>
                </div>

                <div class="mt-10">
                    <div class="flex flex-col gap-2  border-b dark:border-gray-700 pb-8">
                        <div class="font-bold text-lg">
                            Email
                        </div>
                        <div class="text-gray-500">
                            {user?.email}
                        </div>
                    </div>
                    <div class="font-bold text-lg mt-8">
                        Location
                    </div>
                    <div class="flex flex-col gap-2 mt-5">
                        <div class="font-bold text-regular">
                            Country
                        </div>
                        <div class="text-gray-500">
                            South Africa
                        </div>
                    </div>
                    <div class="flex flex-col gap-0 mt-5">
                        <div class="font-bold text-regular">
                            Street address
                        </div>
                        <div class="text-gray-500 text-sm mb-1">
                           Only you can see this information.
                        </div>
                        <Input type="text" id="name" name="name" />
                    </div>
                    <div class="flex flex-col gap-0 mt-3">
                        <div class="font-bold text-regular">
                            City, State <span class="text-rose-700">*</span>
                        </div>
                        <Input type="text" id="name" name="name" />
                    </div>
                    <div class="flex flex-col gap-0 mt-3">
                        <div class="font-bold text-regular">
                            Postal code
                        </div>
                        <Input type="text" id="name" name="name" />
                    </div>

                    <div class="font-bold text-lg mt-8">
                        Relocate
                    </div>
                    <div class="flex mt-3">
                        <input type="checkbox" class="shrink-0 mt-0.5 border-gray-200 rounded text-blue-600 p-2 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800 cursor-pointer" id="relocate">
                        <label for="relocate" class="text-sm text-gray-500 ms-3 dark:text-gray-400">Willing to relocate.?</label>
                    </div>
                    <div class="mt-3 ms-5 hidden " id="RelocateOptions">
                        <div class="grid space-y-3">
                            <div class="relative flex items-start">
                              <div class="flex items-center h-5 mt-1">
                                <input id="radioOption1" name="hs-radio-with-description" type="radio" class="border-gray-200 rounded-full text-blue-600 focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800" aria-describedby="hs-radio-delete-description" checked>
                              </div>
                              <label for="hs-radio-delete" class="ms-3">
                                <span class="block text-sm font-semibold text-gray-800 dark:text-gray-300">I will Relocate anywhere</span>
                                
                              </label>
                            </div>
                          
                            <div class="relative flex items-start">
                              <div class="flex items-center h-5 mt-1">
                                <input id="radioOption2" name="hs-radio-with-description" type="radio" class="border-gray-200 rounded-full text-blue-600 focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800" aria-describedby="hs-radio-archive-description">
                              </div>
                              <label for="hs-radio-archive" class="ms-3">
                                <span class="block text-sm font-semibold text-gray-800 dark:text-gray-300">I can Relocate only around me</span>
                                
                              </label>
                            </div>
                          </div>

                          <div class=" flex-col gap-0 mt-5 hidden" id="locations">
                            <div class="text-gray-500 text-sm mb-1">
                               Specify locations you are willing to relocate to, (Separete each place with a comma and a space)
                            </div>
                            <Input type="text" id="name" name="name" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</Layout>

<script>


const relocate = document.getElementById('relocate') as HTMLInputElement | null;
const RelocateOptions = document.getElementById('RelocateOptions') as HTMLElement | null;

const submitOrTrackFunction = (e: Event) => {
    const target = e.target as HTMLInputElement;

    if (target.checked) {
        RelocateOptions?.classList.remove('hidden');
    } else {
        RelocateOptions?.classList.add('hidden');
    }
};

relocate?.addEventListener('change', submitOrTrackFunction);


// Assuming your HTML structure includes radio buttons with these IDs
const radioOption1 = document.getElementById('radioOption1') as HTMLInputElement | null;
const radioOption2 = document.getElementById('radioOption2') as HTMLInputElement | null;

if (radioOption1 && radioOption2) {
    // Add event listeners to both radio buttons
    radioOption1.addEventListener('change', handleRadioChange);
    radioOption2.addEventListener('change', handleRadioChange);
    const locations = document.getElementById('locations') as HTMLInputElement | null;

    function handleRadioChange(event: Event) {
        const selectedRadio = event.target as HTMLInputElement;

        // Ensure the event target is an HTMLInputElement
        if (selectedRadio && selectedRadio.type === 'radio' && selectedRadio.checked) {
            // Handle the logic based on the selected radio button
            if (selectedRadio.id === 'radioOption1') {
                locations?.classList.add("hidden")
            } else if (selectedRadio.id === 'radioOption2') {
                locations?.classList.remove('hidden')
            }
        }
    }
}

</script>