---
import Button from "@components/ui/Button.astro";
import Input from "@components/ui/Input.astro";
import CancelModalButton from "./CancelModalButton.astro";

const id = Astro.params.id;

const months = [
    'January', 'February', 'March', 'April', 'May', 'June',
    'July', 'August', 'September', 'October', 'November', 'December'
];

function generateYears(): number[] {
  const startYear = 2024;
  const endYear = 2039;
  const years = Array.from({ length: endYear - startYear + 1 }, (_, i) => startYear + i);
  return years;
};

const years = generateYears();
---

<div id="addLicensesModal" class="hs-overlay hidden w-full h-full fixed top-0 start-0 z-[80] overflow-x-hidden overflow-y-auto pointer-events-none">
  <div class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-0 opacity-0 ease-out transition-all lg:max-w-4xl lg:w-full m-3 lg:mx-auto items-center">
    <div class="flex flex-col bg-white border shadow-sm rounded-xl pointer-events-auto dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] ">
      <div class="flex justify-between items-center py-3 px-4 border-b dark:border-gray-700">
        <h3 class="font-bold text-gray-800 dark:text-white">
          Add Licenses
        </h3>
        <button type="button" class="flex justify-center items-center w-7 h-7 text-sm font-semibold rounded-full border border-transparent text-gray-800 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-gray-700 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" data-hs-overlay="#addLicensesModal">
          <span class="sr-only">Close</span>
          <svg class="flex-shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
        </button>
      </div>
      <form action={`/api/accounts/licenses/${id}`} method="post">      
        <div class="p-4 overflow-y-auto">
          <label for="License" class="block text-sm mb-2 dark:text-white font-bold">License name</label>
          <Input type="text" id="License" name="License" placeholder='Example: Proprietary license' required autofocus />
        </div>
        <div class="p-4 overflow-y-auto">
            <label for="email" class="block text-sm mb-2 dark:text-white font-bold">Expiration date</label>
            <div class="flex flex-row">
              <select id="month" name="month" class="form-input py-3 px-4 block w-full rounded-lg text-semibold border-0 ring-1 ring-gray-300 ring-inset  focus:ring-inset focus:ring-sky-600 disabled:opacity-50 disabled:pointer-events-none me-2 sm:text-sm sm:leading-6 dark:bg-gray-800 dark:ring-gray-700 dark:text-white  dark:focus:ring-sky-600 dark:border-0 dark:focus:border-0 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500">
                <option selected>Month</option>
                {
                  months.map((month) => (
                    <option value={month}>{month}</option>
                  ))
                }
              </select>
  
              <select id="year" name="year" class="form-input py-3 px-4 block w-full rounded-lg text-semibold border-0 ring-1 ring-gray-300 ring-inset  focus:ring-inset focus:ring-sky-600 disabled:opacity-50 disabled:pointer-events-none me-2 sm:text-sm sm:leading-6 dark:bg-gray-800 dark:ring-gray-700 dark:text-white  dark:focus:ring-sky-600 dark:border-0 dark:focus:border-0 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500">
                <option selected>Year</option>
                {
                  years.map((year) => (
                    <option value={year}>{year}</option>
                  ))
                }
              </select>
          </div>
          <div class="flex mt-5">
              <input type="checkbox" id="doesExpire" name="doesExpire" class="shrink-0 mt-0.5 border-gray-200 rounded text-blue-600 p-2 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800 cursor-pointer" id="relocate">
              <label for="doesExpire" class="text-sm text-gray-500 ms-3 dark:text-gray-400">Does not expire</label>
          </div>
        </div>
        <div class="flex justify-end items-center gap-x-2 py-3 px-4 dark:border-gray-700">
          <CancelModalButton modal="#addLicensesModal"/>
          <Button type="submit">Save</Button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
const doesExpire = document.getElementById('doesExpire') as HTMLInputElement | null;
const year = document.getElementById('year') as HTMLSelectElement | null;
const month = document.getElementById('month') as HTMLSelectElement | null;

const toggle = (e: Event) => {
    const target = e.target as HTMLInputElement;

    if (target.checked) {
      console.log(target.checked)
      year?.setAttribute("disabled", "true");
      month?.setAttribute("disabled", "true");
    } else {
      year?.removeAttribute("disabled");
      month?.removeAttribute("disabled");
      console.log(target.checked)
    }
};

doesExpire?.addEventListener('change', toggle);

</script>